<div class="divisor"></div>

<style>
    .divisor {
        display: block;
        height: 48px;
        width: 2.2px;
        background: linear-gradient(
            to bottom,
            var(--accent),
            var(--foreground)
        );
        border-radius: var(--radius);
        margin: 2rem auto;
    }
</style>
