---
import NameTag from "./NameTag.astro";
import Nav from "./Nav.astro";
---

<header>
  <a href="/" id="logo">
    <NameTag />
  </a>

  <div class="desktop__menu">
    <Nav />
  </div>

  <button class="mobile__menu__button" aria-label="Menu">
    <span></span>
    <span></span>
  </button>

  <div class="mobile__menu">
    <Nav />
  </div>
</header>

<style>
  header {
    border: 0.15rem solid var(--border);
    padding: var(--space-md);
    border-radius: var(--radius);

    display: flex;
    align-items: center;
    justify-content: space-between;

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    position: sticky;
    top: 1rem;

    z-index: 100;
    transition: transform 0.3s ease-in-out;
  }

  header.hidden {
    transform: translateY(-200%);
  }

  header #logo {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .mobile__menu__button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: var(--space-sm);
    position: relative;
  }

  .mobile__menu__button span {
    display: block;
    width: 32px;
    height: 4px;
    border-radius: var(--radius);
    background-color: var(--secondary);
    margin: var(--space-xs) 0;

    box-shadow: rgba(51, 51, 51, 25%) 0px 2px 4px;
  }

  .mobile__menu {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;

    background-color: var(--background);
    border: 0.15rem solid var(--border);
    border-radius: var(--radius);
    box-shadow: rgb(51 51 51 / 25%) 2px 4px 4px;
    padding: var(--space-md);
    min-width: 200px;
    z-index: 200;
  }

  .mobile__menu.active {
    display: block;
  }

  .mobile__menu nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;
  }

  @media screen and (max-width: 580px) {
    .desktop__menu {
      display: none;
    }

    .mobile__menu__button {
      display: block;
    }
  }
</style>

<script>
  const mobileMenuButton = document.querySelector(".mobile__menu__button");
  const mobileMenu = document.querySelector(".mobile__menu");

  if (mobileMenu && mobileMenuButton) {
    mobileMenuButton.addEventListener("click", (event) => {
      event.stopPropagation();
      mobileMenu.classList.toggle("active");
    });

    document.addEventListener("click", (event) => {
      if (
        !mobileMenu.contains(event.target as Node) &&
        !mobileMenuButton.contains(event.target as Node)
      ) {
        mobileMenu.classList.remove("active");
      }
    });
  }
</script>
